
@{
}
@model List<WebAppEmployeeCrudMvc.Models.Employee>;

	<div class="row">
		<div class="col-sm-8 offset-sm-2">

		<h2>Employee List</h2>
		<a asp-controller="Employee" asp-action="NewEmployee" class="btn btn-success mb-3" >New Employee</a>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Full name</th>
					<th>Email</th>
					<th>Contract Date</th>
					<th>Active</th>
					<th></th>
				
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.IdEmployee</td>
						<td>@item.FullName</td>
						<td>@item.Email</td>
						<td>@item.ContractDate.ToString("dd/MM/yyyy")</td>
						<td>@(item.Active ? "Yes":"No")</td>
						

					</tr>
				}
			</tbody>

			</table>
		</div>

	</div>